@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(#040228 0%, #0075c7 40%);
  overflow-x: hidden;
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
  cursor: default;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 500;
  transition: .5s;
}

.navbar a:hover,
.navbar a.active {
  background-color: #00a3b9;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.section {
  margin-top: 100px;
  position: relative;
  background-color: #040228;
  padding: 100px;
}

.section h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.section h2:nth-child(2) {
  font-size: 2em;
}

.section p {
  font-size: 1em;
  color: #fff;
  font-weight: 400;
}